<%- include('partials/header') -%>

<body>
  <section class="top">
    <div class="locationInfo">
      <h1>Welcome to Yakin'</h1>
      <input type="text" />
      <button>Search All the Spots</button>
      <h2>Location Name:</h2>
      <h3>City:</h3>
      <h3>State:</h3>
      <h3>Body of Water Type:</h3>
      <h3>Difficulty:</h3>
      <h3>Rating:</h3>
    </div>
    <div id="map"></div>
  </section>

  <section>
    <h2>Search one of the locations below</h2>
    <% places.forEach( el => { %>
    <li class='locationItem'>
      <a href="/locations/<%= el._id%>">
        <span><%= el.locationName %></span>
      </a>
      <!-- <span><%= el._id %></span> -->
      <span><%= el.lat %></span>
      <span><%= el.long %></span>

    </li>
    <% }) %>
    </ul>
  </section>
  <h2>Map a new location. <%= mapped %> location mapped so far</h2>
  <form action="/locations/createLocation" method='POST'>
    <input type="text" placeholder="Enter a Location Name" name='locationItemName'>
    <input type="text" placeholder="Enter a Latitude" name='locationItemLat'>
    <input type="text" placeholder="Enter a Longitude" name='locationItemLong'>
    <input type="text" placeholder="Enter a City" name='locationItemCity'>
    <input type="text" placeholder="Enter a State" name='locationItemState'>
    <input type="text" placeholder="Enter a Body of Water Type" name='locationItemBodyWaterType'>
    <input type="text" placeholder="Enter a difficulty " name='locationDifficulty'>
    <input type="text" placeholder="Enter a rating" name='locationItemRating'>
    <input type="submit">
  </form>

  <%- include('partials/footer') -%>