<%- include('partials/header') -%>

<body class="container">
  <section class="top">
    <div class="container">
      <h1>Yakin' | Your Community Driven Kayaking Guide</h1>
    </div>
  </section>

  <section class="heading-info">
    <h3><%= mapped %> Locations Mapped by our Community!</h3>
    <p>Use the map to locate or plan your next kayaking adventure! Do you know a good paddling spot that's not on our map? Feel free to add it so our community can enjoy it too.
    </p>
  </section>

  <section class="map-container">
    <div class=" container" id="map">
    </div>
  </section>

  <section class="locationDetailList">
    <p>To get a detailed look at a location click one of the links below</p>
    <% places.forEach( el => { %>
    <li class='locationItem'>
      <a href="/locations/<%= el._id%>">
        <span><%= el.locationName %></span>
      </a>
      <!-- <span><%= el._id %></span> -->
      <span hidden="true"><%= el.long %></span>
      <span hidden="true"><%= el.lat %></span>

    </li>
    <% }) %>
    </ul>
  </section>

  <%- include('partials/footer') -%>