<%- include('partials/header') -%>

<body>
  <section class="top">
    <div class="container">
      <h1>Yakin' | Your community driven kayaking guide</h1>
    </div>
  </section>

  <div class="container" id="map"></div>

  <section>
    <h2>Search one of the locations below</h2>
    <% places.forEach( el => { %>
    <li class='locationItem'>
      <a href="/locations/<%= el._id%>">
        <span><%= el.locationName %></span>
      </a>
      <!-- <span><%= el._id %></span> -->
      <span><%= el.lat %></span>
      <span><%= el.long %></span>

    </li>
    <% }) %>
    </ul>
  </section>

  <%- include('partials/footer') -%>